<table class="table table-secondary">

    <thead>
        <th>Imagen</th>
        <th>Producto</th>
        <th>Tipo</th>
        <th>Color</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Cantidad</th>

    </thead>
    <tbody>
        <tr *ngFor="let producto of productos" [ngClass]="{'clearance': producto.clearance}">
            <td><img width="100" [src]="producto.image " [alt]="producto.product "></td>
            <td>{{producto.product}}</td>
            <td>{{producto.type}}</td>
            <td>{{producto.colour}}</td>
            <td>{{producto.price | currency}}</td>
            <td>
                <div *ngIf="producto.stock >0; else sinStock ">{{producto.stock}}</div>
                <ng-template #sinStock><span class="badge badge-danger "> SIN STOCK</span> </ng-template>
            </td>
            <td>
                <app-input-integer [(quantity)]="producto.quantity" [max]="producto.stock" *ngIf="producto.stock" (maxReached)="maxReached($event)"></app-input-integer>
                Cant: {{producto.quantity}}
            </td>
        </tr>
    </tbody>

</table>