/* You can add global styles to this file, and also import other style files */

body {
    background-image: url(assets/img/universo2.jpg);
    color: white;
    background-color: black;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: black;
    text-transform: uppercase;
    align-items: flex-end;
    margin-top: 20px;
}